<h1>Home#index</h1>

<% if user_signed_in? %>
    <table>
        <tr>
            <th> Id </th>
            <th> Tipo </th>
            <th> Latitud </th>
            <th> Longitud </th>
            <th> Ubicación </th>
            <th> Mensaje </th>
            <th> Nivel </th>
        </tr>
        <% Event.all.each do |event| %>
            <tr>
                <td> <%= event.id %> </td>
                <td> <%= event.event_type %> </td>
                <td> <%= event.lat %> </td>
                <td> <%= event.lon %> </td>
                <td> <%= event.location %> </td>
                <td> <%= event.message %> </td>
                <td> <%= event.level %> </td>
                <% @job = Job.find_by(user_id: current_user, event_id: event.id) %>
                <% if @job.blank? == false %>
                    <td> <%= @job.job_id %> </td>
                <% end %>
                <%= form_with(model: Event.new, method: :patch, url: home_update_path(:id => event.id, :lat => event.lat, :lon => event.lon)) do |f| %>
                    <div>
                        <td><%= f.submit "Calcular índice", :class => "button is-small" %><td>
                    </div>
                <% end %>
            </tr>
        <% end %>
    </table>
<% end %>
